@model StudentExercisesMVC.Models.ViewModels.CohortViewModel

@{
    ViewData["Title"] = "Cohorts";
}

<h2>@ViewData["Title"]</h2>

<h4>Cohorts</h4>

<table class="table">
    <thead>
        <tr>
            <th> Cohort Name </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cohort in Model.Cohorts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => cohort.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
